body {
    background-color: #f0f0f0; /* Cor de fundo cinza */
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    color: #666;
}

.login-btn {
    background-color: #6c63ff; /* Cor roxa */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #5849c6; /* Tom mais escuro de roxo */
}

.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}
